<div class="block">
  <div class="content">
    <h2 class="title">
      <div class="row">
        <div class="span6">
          <%= "#{@task.project.name} #{@task.name}" %>
        </div>
        <div class="span6">
          <a class="btn btn-primary pull-right spaced" data-backdrop="static" data-toggle="modal" href="#new_project">New
            Task</a>
        </div>
      </div>
    </h2>

    <div class="inner">

    </div>
  </div>
</div>