<% if current_user.role=="DevTeam" %>
    <div class="row">
      <div class="span6"><h1><%= current_user.current_task.full_name rescue "" %></h1>
        <%= link_to "Done", (mark_task_complete_path(current_user.current_task) rescue "#"), :class => "btn btn-primary btn-large done_button" %>
      </div>
      <div class="span6">
        <div class="row">
          <%= (best_in_place current_user.current_task, :remark, :type => :textarea, :nil => "Click me to add your comments") rescue "No Tasks Assigned" %>
        </div>
      </div>
    </div>
<% elsif current_user.role=="Projects" %>

<% end %>